@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500;1,800&family=Shadows+Into+Light+Two&family=Source+Sans+Pro:ital,wght@1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(135, 76, 98, 0.5);
  padding-bottom: 100px;
  height: 100vh;
}
