.cities {
  width: 40%;
  height: 40px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid gray;
  color: white;
  font-size: 1rem;
}
.cities:focus {
  outline: none;
}

.option {
  background-color: #161616;
}
